/*div, header, nav, content, section, footer {
    border: solid 2px black;
}*/

* {
    margin: 0px;
}

body {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    text-align: left;
    margin: 0 auto;
    background: url("../img/img-carrossel3.jpg") center no-repeat fixed;
    background-size: cover;
}

/* ##### Clearfix #####
   é uma técnica já usada há bastante tempo para evitar
   que floats se aglomerem, adicionando um espaço vazio tanto
   antes quanto depois dos elementos */
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ##### Fim do Clearfix ##### */

/* ###### Grid Responsivo - ###### */

* {box-sizing: border-box;}


   /* Define estilo comum para todo elemento com classe "col-*" */
[class*="col-"] {
    float: left;
    padding: 15px;
}

   /* Adicionando estilos para que elementos respeitem o grid definido anteriormente */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* ###### Fim Grid Responsivo ###### */

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

img, picture, video, embed {
    max-width: 100%;
}

figure {
    margin: 1em 40px;
}

.btn {
    border: none;
    border-radius: 2px;
    min-height: 36px;
    min-width: 88px;
    padding: 1em;
    font-size: 0.875em;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background-color: #FF5722;
    text-transform: uppercase;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    background-color: #D32F2F;    
}

/* ##### Formatação de texto default ##### */
h1, h2 {
    font-size: 2.5em; 
    font-weight: 800;
    line-height: 1.75em;
    margin: 0;
}

h3 {
    font-size: 2em;
    font-weight: 300;
}

p {
    font-weight: 300;
}

a, a:link, a:visited {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: underline;
    text-shadow: none;
}

input[type=text] {
    width: 100%;
    background-color: transparent;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: right center; 
    border: none;
    border-bottom: 2px solid #FF5722;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5em;
    outline: none;
    margin-top: 5%;
}
input[type=text]::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(0, 0, 0, 0.54);
}
input[type=text]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(0, 0, 0, 0.54);
}
input[type=text]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(0, 0, 0, 0.54);
}
input[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, 0.54);
}
/* Fim da formatação do Placeholder */

/* ##### Formatação padrão do header ##### */

header {
    position: fixed;
    float: none;
    height: 5em;
    width: 100%;
    z-index: 2;
}

/* ###### Definindo estilo das divs do header */
.app-bar {
    background-color: #FF5722;
    color: white;
    padding-left: 2.5%;
}

.app-title {
    background-color: #D32F2F;
}

/* ##### Formatação do menu de navegação ##### */

nav {
    min-height: 30px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style-type: none;
    margin-top: 0px;
}

nav li {
    display: inline;
}

nav ul li a {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 2.5%;
}

nav ul li:nth-child(3) a { /* seletor do quinto elemento 'li' */
    margin-right: 0px;
}

nav a:link, nav a:visited {
    color: rgba(255, 255, 255, 0.54);
    font-size: 1.375em;
    font-weight: 300;
    display: inline-block;
}

nav a.ativo:link, nav a:hover {
    color: rgba(255, 255, 255, 0.87);
}


/* ###### Formatação padrão do Content ###### */

.content {
    padding-top: 6em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

/* Formatação do Footer - Rodapé com duas colunas */
footer {
    clear: both;
    height: 50px;
    width: 100%;
    padding: 10px 0px;
    background-color: #FF5722;
    color: rgba(255, 255, 255, 0.87);
    position: absolute;
    bottom: 0px;
}

.copyright {
    float: left;
    margin-left: 2em;
}

.desenvolvedor {
    float: right;
    margin-right: 2em;
}

/* ################################################ */

span {
    border: solid 2px black;
    display: block;
    width: 100px;
    height: 100px;
}

grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #ccc;
    box-shadow: 2px 2px 15px #ddd;
    margin: 10px auto;
    min-width: 250px;
    width: 400px;
    max-width: 1000px;
    box-sizing: border-box;
    padding: 0 20px;
}

grid .row {
    display: flex;
    flex-direction: row;
}

.espaco {
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 1px 1px 2px #777, inset -1px -1px 2px #777;
    width: 120px;
    height: 120px;
    min-width: 40px;
    min-height: 40px;
    margin: 5px;
}
.jogador1 { background: #ff7979; }
.jogador2 { background: #8181ff; }

.finalempate { background: #777; }
.finalvitoria { background: #ff7979; }
.finalderrota { background: #8181ff; }