<div class="info">
    <label for="inputJogadorNome">Nome:</label>
    <input id="inputJogadorNome" type="text" ng-model="Jogo.Player.meuNome" />
</div>

<div class="info">
    <label for="inputGameId">Game ID:</label>
    <input id="inputGameId" type="text" ng-model="Jogo.Player.gameId" />
</div>

<div class="info buttons">
    <button id="btnEntrar" class="btn" ng-hide="Jogo.listaEspera" ng-click="Jogo.Player.onPlayerComecaClick()">Entrar</button>
</div>

<div class="info">
    <div ng-show="Jogo.listaEspera" id="jogadorMensagemEspera">Aguardando oponente...</div>
</div>