<!--
<div id="cara-coroa" ng-show="Jogo.sorteio">
    <div id="cara-coroa-p1">
        <h3>{{ Jogo.Player.meuNome }} começa o jogo!</h3>
    </div>
    <div id="cara-coroa-p2">
        <h3>{{ Jogo.Player.nomeOponente }} começa o jogo!</h3>
    </div>
</div>
-->
<grid ng-controller="veiaCtrl">
    <div ng-repeat="linha in Jogo.tabuleiro track by $index" class="row">
        <span ng-repeat="coluna in Jogo.tabuleiro[$index] track by $index" 
            class="grid espaco" ng-class="estilo[$parent.$index][this.$index]" 
            ng-click="muda($parent.$index, $index)"> 
            {{ $parent.$index }}, {{ this.$index }} = {{ Jogo.tabuleiro[$parent.$index][this.$index] }} 
            <br> {{ estilo[$parent.$index][this.$index] }}
        </span>
    </div>
    <p>
        {{ Jogo.Player.meuNome }}: {{ Jogo.Host.jogadores[0].ativo }} || {{ Jogo.Player.nomeOponente }}: {{ jogador[1].ativo }} || Vitória: {{ vitoria }}
    </p>
</grid>