<!--
<div id="cara-coroa" ng-show="vm.Jogo.sorteio">
    <div id="cara-coroa-p1">
        <h3>{{ vm.Jogo.Player.meuNome }} começa o jogo!</h3>
    </div>
    <div id="cara-coroa-p2">
        <h3>{{ vm.Jogo.Player.nomeOponente }} começa o jogo!</h3>
    </div>
</div>
-->
<grid ng-controller="VeiaCtrl as veia">
    <div ng-repeat="linha in vm.Jogo.tabuleiro track by $index" class="row">
        <span ng-repeat="coluna in vm.Jogo.tabuleiro[$index] track by $index" 
            class="grid espaco" ng-class="veia.estilo[$parent.$index][this.$index]" 
            ng-click="veia.muda($parent.$index, $index)"> 
            {{ $parent.$index }}, {{ this.$index }} = {{ vm.Jogo.tabuleiro[$parent.$index][this.$index] }} 
            <br> {{ veia.estilo[$parent.$index][this.$index] }}
        </span>
    </div>
    <p>
        {{ vm.Jogo.Player.meuNome }} || {{ vm.Jogo.Player.nomeOponente }} || Vitória: {{ veia.vitoria }}
    </p>
</grid>